html, body {
	/* background: #faf0dc; */
	background-image: url("../img/bg-page.jpg");
	background-size: cover;
	background-repeat: none;

	color: #222;
	font-family: "Arial", sans-serif;
}

.bg-content {
	/* background: #fffcf8; */
	background: url("../img/bg-content.jpg") no-repeat center center fixed;
}

a {
	color: #1f78b3;;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.4rem
}

h3 {
	font-size: 1rem;
}

.p-tb-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.p-lr-content {
	padding-left: 20px;
	padding-right: 20px;
}

.m-t-20 {
	margin-top: 20px;
}

.m-t-50 {
	margin-top: 50px;
}

table, td {
	border: 1px solid #DDD;
	border-collapse: collapse;
}

td {
	padding: 10px 20px;
}
